.App {
  text-align: center;
  position: relative;
  height: 100%;
}

.AlignLeft {
  text-align: left;
}

.Spinner {
  vertical-align: middle;
  text-align: center;
}

.ActionButton {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: 100px;
  width: 100%;
}

.Title {
  padding-top: 10px;
}
